@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.code-editor{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    height: 100%;
}
/* 429fukexk */
.content{
    width: 70%;
    background-color: black;
    height: 80vh;
    font-family: monospace;
    animation: bottomToTopFadeIn 1s;
    border-radius: 25px;
}
.title{
    padding: 5px;
    height: 10%;
}
.minititle{
        height: 10%;
    padding: 5px;
}
.editor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details{
    height: 0px;
}

iframe{
    border-radius: 0px 0px 20px 20px;
}


/* width */
iframe::-webkit-scrollbar {
  width: 10px;
}

/* Track */
iframe::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
iframe::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
iframe::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.editor{
    height: 100%;
}
.title{
    font-size: 15px;
    height: 37px;
}
.minititle{
    font-weight: 100;
    display: flex;
    align-items: center;
}
.editor{
    padding: 0px;
}
.editor iframe{
    position: relative;
    bottom: 8%;
    width: 100%;
}
@media screen and (max-width: 457px){
    .editor{
        margin-top: 10px;
    }
}
.minititle button{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: red;
    color: lightgoldenrodyellow;
    font-size: 100%;
    font-weight: bolder;
    font-family: 'Open Sans';
    font-style: italic;
    font-variation-settings: 'wght' 700;
}

@media screen and (max-width:487px){
    .minititle button{
        font-size: 75%;
    }
}
@media screen and (max-width: 490px){
    .content{
        width: 80%;
    }
    .editor iframe{
        height: 75%;
    }
}




@keyframes bottomToTopFadeIn {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}